sudo: required
services:
  - docker
before_install:
  - docker build -t local_docker-react -f Dockerfile.dev .
script:
  - echo thats all folks
  - docker run local_docker-react npm run test -- --coverage
deploy:
  provider: azure_web_apps
  verbose: true
  username: $AZURE_WA_USERNAME
  password: $AZURE_WA_PASSWORD
  site: dockerreact
  slot: dockerreact
  on: 
    branch: master

