sudo: required
services:
  - docker
before_install:
  - docker build -t local_docker-react -f Dockerfile.dev .
script:
  - echo thats all folks
  #- docker run local_docker-react npm run test -- --coverage
